<h1>Editing mantenimiento</h1>

<%= render "form", mantenimiento: @mantenimiento %>

<br>

<div>
  <%= link_to "Show this mantenimiento", @mantenimiento %> |
  <%= link_to "Back to mantenimientos", mantenimientos_path %>
</div>
