<div class="card p-4">
  <div class="d-flex align-items-center">
    <div class="col-1 px-0" style="width: 35px">
      <%= link_to motors_path do %>
        <i class="bi bi-arrow-return-left text-secondary fs-5"></i>
      <% end %>
    </div>
    <h1>Nuevo Motor</h1>
  </div>

  <%= render "form", motor: @motor %>
</div>